.root{
    --pink: #E32C89 ;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Gabarito;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 9%;
    background: white;
    font-size: 16px;
    font-family: Gabarito;
    border-bottom: 1px solid #E32C89 ;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 65px; 
}

.top-header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-header .left a {
    color: #fff;
    background: #E32C89;
    padding: 5px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Gabarito;
}

.top-header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-header .signup {
    color: black;
    text-decoration: none;
    font-family: Gabarito;
    font-size: 15px;
}

.top-header .login {
    background: #E32C89;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Gabarito;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 
}

.scroll-fade {
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        }

        .scroll-fade.show {
            opacity: 1;
            transform: translateY(0);
        }


section{
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    top: 60px; 
    left: 0;
    right: 0;
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 80px; 
}

header .logo{
    font-size: 3rem;
    color:#E32C89;
    font-family: Oleo Script Swash Caps;
    text-decoration: none;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #000000;
    text-decoration: none;
    
    
}

header .navbar a:hover{
    color: #E32C89;
    text-decoration: underline;
}

header .icons a{
    display: flex;
    font-size: 2rem;
    color: #E32C89;
    margin-left: 1.5rem;
    align-items: center;
    

}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px; 
}

header .search-bar{
    display: flex;
    align-items: center;
    border: 2px solid #E32C89;
    border-radius: 20px;
    padding: 1px 10px;
    width: 250px;
    background: white;
    
}

header .search-bar input{
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 5px;
    flex: 1;
    color: black;
}

header .search-bar input::placeholder {
    color: gray;
}

header .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: #E32C89;
}

header .icons a:hover{
    color: #FBD0D7;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;

}


/*home page css*/

.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: whitesmoke;
    padding: 12rem 9% 2rem;
    padding-top: 10rem;
    margin-top: 50px;
}

.home .content{
    max-width: 50rem;
    width: 100%;
    text-align: left;
    top: -51px;
    position: relative;
}

.home .content h3{
    font-size: 6rem;
    color: black;
    font-family: Gotu;
    line-height: 100%;
    font-weight: 400;
}

.home .content p{
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
    font-family: Gotu;
    font-weight: 400;
}



.home .absolute{
    position: absolute;
    top: 100px !important;
    inset: 0;
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.home .absolute .justify-center{
    justify-content: center;
}

.home .absolute .bg-shape1{
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

.home .absolute .bg-shape2{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
}

@keyframes one{
    0%{left: 0px; top: 0px}
    25%{left: -100px; top: 70px}
    50%{left: 20px; top: 150px}
    75%{left: 50px; top: 100px}
    100%{left: 0px; top: 0px}
}


@keyframes two{
    0%{left: 0px; top: 0px}
    25%{left: 50px; top: 10px}
    50%{left: 100px; top: 50px}
    75%{left: 50px; top: 100px}
    100%{left: 0px; top: 0px}
}

.home .absolute .opacity-50{
    opacity: .5;
}

.home .absolute .bg-blur{
    filter: blur(90px);
}

.home .absolute .bg-primary{
    background-color: #b96c78 !important;
}

.home .absolute .bg-pink{
    background-color: #de5097 !important;
}


.home .img-wrapper{
    width: 100%;
    min-height: 100vh;
    left: 15%;
    overflow: hidden;
    top: 50px;
    position: relative;
    justify-content: center;
    
}

.home .img-wrapper > div{
    width: 70%;
    height: 65%;
    position: absolute;
    animation: animate 25s infinite;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
    
}

.home .img-wrapper > div:first-child {
    opacity: 1;
}

.home .img-wrapper > div:nth-child(2) {
    animation-delay: 5s;
}
.home .img-wrapper > div:nth-child(3) {
    animation-delay: 10s;
}
.home .img-wrapper > div:nth-child(4) {
    animation-delay: 15s;
}
.home .img-wrapper > div:nth-child(5) {
    animation-delay: 20s;
}
.home .img-wrapper > div:nth-child(6) {
    animation-delay: 25s;
}

@keyframes animate{
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity:0;
    }

}

.new-arrival {
    width: 100%; 
    max-width: 1200px; 
    margin: auto;
    padding-top: 50px;
    margin-top: 0; 
}

.new-arrival h2{
    font-size: 30px;
    font-family: Gabarito;
    margin-bottom: 20px;
}

.new-arrival .card {
    display: flex; 
    flex-direction: row-reverse; 
    align-items: center; 
    border: 1.5px solid #E32C89;
    border-radius: 10px;
    overflow: hidden;
    
}

.new-arrival .card img {
    width: 50%; 
    height: 50%;
    
}

.new-arrival .content h2 {
    font-size: 25px;
    margin-bottom: -5px;
    
}

.new-arrival .content .description{
    font-size: 13px;
    font-family: Gabarito;
    color: #E32C89;
    text-transform: none;
    margin-top: 0;
}

.new-arrival .content .see {
    font-size: 10px;
    text-transform: none;
    font-family: Gabarito;
    margin-top: 30px;

}

  

.new-arrival .card .btn {
    display: block; 
    width: 100%; 
    max-width: 190px; 
    text-align: center; 
    padding: 10px; 
    border-radius: 15px;
    font-size: 13px;
    background-color: #E32C89;
    border: none;
    
}

.new-arrival .card .btn.btn-primary:hover {
    background-color: #fff !important;  
    color: #E32C89 !important; 
    border: 2px solid #E32C89 !important; 
}



.categories {
    margin-top: -60px; 
    text-align: center;
}

.categories h2 {
    margin-bottom: 20px; 
    font-size: 25px;
    text-align: center;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; 
    flex-wrap: nowrap;
    margin-top: 10px; 
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3%; 
}

.category .circle {
    width: 110px; 
    height: 110px;
    border-radius: 50%;
    border: 3px solid #E32C89;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
}

.category img {
    width: 60px; 
    height: auto;
}

.category span {
    color: black;
    font-size: 16px;
    margin-top: 12px; 
}


























/*mobile view*/

@media (max-width: 991px) {

    html {
        font-size:55%
    }

    header{
        padding:2rem;
    }

    section{
        padding: 2rem;
    }

    .home {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 8rem 5% 2rem;
    }

    .home .content {
        position: static;
        text-align: center;
        max-width: 100%;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .home .content p {
        font-size: 1.3rem;
    }

    .home .img-wrapper {
        left: 0;
        width: 100%;
        min-height: 50vh;
    }
}


@media (max-width: 768px) {
    header {
        padding: 2rem;
    }
    

    header .navbar {
        position: absolute;
        top: 100%; left:0; right: 0;
        background: white;
        border-top: .1rem solid black;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .fa-bars {
        display: block;
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: white;
        border: .1rem solid black;
        display: block;
    }
}
